.movie-landing {
   margin-top:200px;
}

.landing-header {
    margin-top:200px;
}

.span-carreira {
  color:  #FD7E14;
}

@media (min-width: 400px) { 
    .card-carreira {
        height: 500px; 
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
  }
.card-carreira {
    flex: 1 1 300px; 
    margin: 0 10px 20px; 
    height: 280px;
}

.grid-item-carreira {
    margin: -10px 0 0 0;
    
    h4{
        margin-bottom: 24px;
    }
    p {
        font-size: 14px;
    }
}

.grid-item-description {
    margin-top: -20px;
}

.box-acelerar-carreira {
    height: 332px;
}

.grid-container-combo {
    margin-top: 30px;
}

.card-img {
    max-width: 600px;
}

@media (max-width: 600px) {
    .box-img {
        width: 100%; /* Defina a largura como 100% para telas menores */
        height: auto; /* Garanta que a altura seja ajustada automaticamente */
    }
    .card-img {
        margin-left:-10px;
    }
}

/* Estilo para telas maiores que 600px */
@media (min-width: 601px) {
    .box-img {
        max-width: 600px; /* Defina a largura máxima como 600px para telas maiores */
    }

}
.box-img {
    margin-top:-20px;

}

.badge {
    width: 100px;
    display: flex;
    justify-content: flex-end;
    float: right;
    margin: 15px 24px 0 0;
}

.text-padrao {
    color:#fff !important;
}
.title-padrao{
    color:#fff !important;
}

.desc-combo {
    text-align: center !important;
    margin: 25px 0 20px 0;
}