.movie-landing {
   margin-top:200px;
}

.landing-header {
    margin-top:200px;
}

.span-carreira {
  color:  #FD7E14;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
  }
.card-carreira {
    flex: 1 1 300px; 
    margin: 0 10px 20px; 
    height: 230px;
}

.grid-item-carreira {
    margin: -10px 0 0 0;
    
    h4{
        margin-bottom: 24px;
    }
    p {
        font-size: 14px;
    }
}

.grid-item-description {
    margin-top: -20px;
}

.box-acelerar-carreira {
    height: 332px;
}

.grid-container-teste {
    margin: 30px 0;
}

.card-img {
    max-width: 600px;
}

.badge {
    width: 100px;
    display: flex;
    justify-content: flex-end;
    float: right;
    margin: 15px 24px 0 0;
}